# Python
__pycache__/
*.pyc

# Environment
.env
backend/.env

# Vault
vault.sh

# Docker
docker-compose.yml

# GitHub Actions Runner
actions-runner/

# VS Code
.vscode/

# Python virtual environment
venv/

